*{
    box-sizing: border-box;
}

h1, h2, p, button, p, small, label {
    font-family: 'Baskervville', serif;
}

h1, h2 {
    color: #BC4C2A;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin: 20px;
    text-shadow: 2px 2px 5px #cacaca;
}

p { 
    font-size: 1.37rem;
    text-align: center;
}

.custom-form-div{
    max-width: 100vw; 
    justify-content: center;
}

.custom-form a{
    color: #252525;
}

.recuperar {
    color: #252525;
}

.recuperar:hover{
    color: #252525;
    font-weight: bold;
}

.custom-container {
    background-color: #F6F3EF;
    border-bottom: 1px solid #666666;
    margin: 0 0 5px 0;
}

.container-form {
    background-color: #F6F3EF;
    padding-bottom: 30px !important;
    margin-bottom: 30px;
}
