* {
    box-sizing: border-box;
}

.caixa-imagem {
    display: block;
    justify-content: center;
    height: 200px;
    object-fit: cover;
}

.caixa-imagem img {
    object-fit: cover;
    height: 200px;
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.corpo-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    height: 310px !important;
}

.descricao {
    color: #000;
    text-decoration: none;
    text-align: center;
    font-family: Baskervville;
    font-weight: bold;
    font-size: 14px;
}

.descricao:hover {
    color: #000;
}

.pagamento {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.preco {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-bottom: 10px;
}

.preco-de {
    font-size: 20px;
    text-decoration: line-through;
    color: #BC4C2A82;
}

.preco-por {
    font-size: 24px;
    color: #BC4C2A;
}

.parcelas {
    color: #00000096;
    font-family: Baskervville;
}

.parcelas em {
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-size: 18px;
    font-weight: bold;
}

.btn-comprar {
    font-family: Baskervville;
    text-align: center;
    background-color: #3f79cf;
    padding: 10px;
    width: 100%;
    font-size: 24px;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    box-shadow: #00000036 0 2px 4px 2px;
    transition: 0.3s;
}

.btn-comprar:hover {
    color: #fff;
    background-color: #5a90e0;
    box-shadow: #00000062 0 2px 4px 2px;
}